<footer class="bg-dark text-light py-4 mt-5 d-flex flex-column justify-content-center align-items-center">
  <div class="container text-center">
    <h5 class="mb-3">Connect with us</h5>

    <!-- Social icons -->
    <a href="https://www.instagram.com" target="_blank" class="text-light me-3 fs-4 text-decoration-none">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.twitter.com" target="_blank" class="text-light me-3 fs-4 text-decoration-none">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.facebook.com" target="_blank" class="text-light fs-4 text-decoration-none">
      <i class="fab fa-facebook"></i>
    </a>

    <!-- Divider links -->
    <div class="border-top border-secondary mt-4 pt-2">
      <a href="#" class="text-light mx-2 text-decoration-none">Privacy</a>
      <a href="#" class="text-light mx-2 text-decoration-none">Terms</a>
    </div>

    <p class="mt-3 mb-0">© 2025 Arivo. All rights reserved.</p>
    <p class="mt-1 mb-0">Made with ❤️ by Archit.</p>
  </div>
</footer>
