<% layout('/layouts/boilerplate.ejs') %>
<div class="row">
    <div class="col-8">
        <h1>Create a new listing:</h1>
        <form action="/listings/new" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class=" mb-4">
                <label for="title" class="form-label">Enter listing title:</label>
                <input type="text" name="title" id="title" required class="form-control">
                <div class="invalid-feedback">Enter a valid title.</div>
            </div>
            
            <div class=" mb-4">
                <label for="description" class="form-label">Enter listing description:</label>
                <textarea name="description" id="description" required class="form-control"></textarea>
                <div class="invalid-feedback">Enter a valid description.</div>
            </div>
            
            <div class=" mb-4">
                <label for="file" class="form-label">Upload image:</label>
                <input type="file" name="image" id="file" required class="form-control">
                <div class="invalid-feedback">Enter a valid image.</div>
            </div>
            
            <div class="row">
                <div class="col-8 col-md-3 mb-4">
                    <label for="price" class="form-label">Enter listing price:</label>
                    <input type="number" name="price" id="price" required class="form-control">
                    <div class="invalid-feedback">Enter a valid price.</div>
                </div>
                
                <div class="col-8 col-md-4 mb-4">
                    <label for="location" class="form-label">Enter listing location:</label>
                    <input type="text" name="location" id="location" required class="form-control">
                    <div class="invalid-feedback">Enter a valid location.</div>
                </div>
                
                <div class="col-8 col-md-4 mb-5">
                    <label for="country" class="form-label">Enter listing country:</label>
                    <input type="text" name="country" id="country" required class="form-control">
                    <div class="invalid-feedback">Enter a valid country name.</div>
                </div>
            </div>

            <button class="btn btn-dark">Submit</button>
        </form>
    </div>
</div>
